<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Letters Result</title>
</head>

<body>
    <p>Your full name length is: <%= fullNameLength %>
    </p>
    <!-- Include a link to go back to the home page -->
    <a href="/">Go back</a>
</body>

</html>